.main-menu {
	
	display: none;
	text-align: center;
	line-height: 18px;
	padding: 22px 0 30px;
	position: relative;

	&__search {
		@extend %empty-btn;
		color: $color-primary;
	}

	&__logo {
		@extend %inline-middle;
		width: $main-menu-logo-width;
		height: $main-menu-logo-height;
	}

	&__link {
		@extend %inline-middle;
		font-size: 14px;
		font-weight: bold;
		margin: 0 25px;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__left {
		padding-right: 27px;
	}

	&__right {
		padding-left: 23px;
	}

	@include responsive(lg) {
		display: block;
	}
}