.header {
	border-bottom: 1px solid $white-d1;
	margin-bottom: 20px;
	background-color: $white;


	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
	}

	@include responsive(md) {
		margin-bottom: 50px;
	}

	@include responsive(xl) {
		margin-bottom: 120px; 
	}
}