/* ==========================================================================
   FONTS
   ========================================================================== */
	$font-size-base: 16px;

	$font-primary: "Nunito Sans";
	$font-secondary: "Playfair Display";

/* ==========================================================================
   COLORS
   ========================================================================== */
	
	$color-primary: #fd6500;

	$white: #fff;
	$white-d1: #f2f2f2;
	$white-d2: #f9f6f1;
	
	$grey-d1: #696969;
	$grey:  #757575;
	$grey-l1: #ababab;
	
	$black-d1: #1a1a1a;
	$black: #262626;
	$black-l1: #333;

	$btn-border-color-grey: #e0e0e0;
	$image-underlay-color-grey: #f0f2f2;

/* ==========================================================================
   ROW GUTTERS
   ========================================================================== */

	$gutter-sizes: (10, 20);

/* ==========================================================================
   TRANSITION
   ========================================================================== */
	$default-transition-time: 0.25s;

/* ==========================================================================
   Components
   ========================================================================== */

	$mobile-menu-text-color: $grey-d1;
	$mobile-menu-border-color: $grey - #111111;

	$main-menu-logo-width: 120px;
	$main-menu-logo-height: 85px;
